<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tiantao.learn.mappers.UserMapper">
    <cache/>
    <select id="selectUser" resultMap="UserMapper" parameterType="Long" >
        select id,name from t_user where id = #{id}
    </select>
    <update id="updateUserName" parameterType="com.tiantao.learn.pojo.User">
        update t_user set name = #{name} where id = #{id}
    </update>
    <resultMap id="UserMapper" type="com.tiantao.learn.pojo.User">
        <result property="id" column="id" />
        <result property="name" column="name"  />
    </resultMap>
</mapper>